﻿@model Training_Project.Models.Task

@{
    ViewData["Title"] = "Create Task";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Create  Task</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" class="createForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="text-center"><h4 class="formHeading">Task Details</h4></div><hr />

            <div class="form-group">
                <label asp-for="Type" class="control-label label"><strong>Type</strong></label>
                <input asp-for="Type" class="form-control" required />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label label"><strong>Description</strong></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Create Task" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
