﻿@model Training_Project.ViewModel.TaskUsers

@{
    ViewData["Title"] = "Task Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Task Detail</h2>

<table class="table table-bordered">
    <tr>
        <th>Task Type</th>
        <td>@Model.task.Type</td>
    </tr>
    <tr>
        <th>Task Description</th>
        <td>@Model.task.Description</td>
    </tr>
    <tr>
        <th>Assigned to</th>
        <td>
            @foreach (var user in Model.users)
            {
                @user.UserName 
                @if (User.IsInRole("Admin"))
                {
                    <a asp-controller="User" asp-action="Details" asp-route-email="@user.Email"> ( User Detail ) </a>
                }
                <br/>
            }
        </td>
    </tr>

</table>