﻿@model Training_Project.ViewModel.UserTasks

@{
    ViewData["Title"] = "Tasks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.user != null)
{
    <h3>@Model.user.UserName Tasks</h3>
}
@if (Model.user == null)
{
    <h3>Tasks List </h3>
}

<form class="form-inline " style="margin-bottom:10px" method="get">
    <div class="form-group " style="margin-right:5px">
        <label class="label" for="search" style="margin-right:10px">Search :</label>
        <input placeholder="Search Task" required type="text" class="form-control " id="search" name="search">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info">Search</button>
    </div>
</form>
<table class="table table-bordered table-hover">
    <thead class="text-center thead-dark">
        <tr>
            <th>
                Type
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="text-center table-sm">
        @foreach (var item in Model.tasks)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a class="btn btn-secondary" asp-action="Details" asp-controller="Task" asp-route-id="@item.TaskId">Detail</a>
                    <form asp-action="Delete" asp-controller="Task" method="post" class="deleteForm">
                        <input type="hidden" name="id" value="@item.TaskId">
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this Task?')">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
