﻿@model Training_Project.ViewModel.UserInputViewModel

@{
    ViewData["Title"] = "Assign User Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Assign Role to @Model.UserName</h3>
<hr />
<br />
<form method="post" asp-action="AsignRole">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Email">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <strong>
                    <label asp-for="Role" class="control-label label">ROLES</label>
                </strong>
                <select asp-for="Role" class="form-control" required>
                    <option value="" disabled selected>-- ROLES --</option>
                    @foreach (var role in Model.Roles)
                    {
                        <option value="@role.Name">@role.Name</option>
                    }
                </select>
            </div>
        </div>
    </div>

    <button class="btn btn-success" type="submit">Submit</button>
</form>
<div>
    <a asp-action="Index" asp-controller="Home">Back to List</a>
</div>
