﻿@model Training_Project.ViewModel.UserTasks

@{
    ViewData["Title"] = "AssignTask";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Assign Task</h3>

<div asp-validation-summary="All" class="text-danger"></div>
@if (Model.tasks.Count == 0)
{
    <strong>No new task is avaiable to Assign</strong>
}
else
{
<table class="table table-bordered table-hover">
    <thead class="text-center thead-dark">
        <tr>
            <th>
                Type
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="text-center">
@foreach (var item in Model.tasks)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <form method="post" asp-action="AssignTask">
                    <input type="hidden" name="userId"  value=@Model.user.Id/>
                    <input type="hidden" name="taskId" value=@item.TaskId>
                    <button type="submit" onclick="return confirm('Are you sure you want to Assign this Task?')"  class="btn btn-primary"  >Assign Task</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
}