﻿@model Training_Project.ViewModel.UserDepartment

@{
    ViewData["Title"] = "AssignDepartment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Assign Department to @Model.UserEmail</h3>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AssignDepartment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <strong> <label asp-for="Department" class="control-label label">Department </label></strong>
            <input type="hidden" asp-for="UserEmail">
            <select asp-for="Department" class="form-control" required>
                @if(@Model.Department==null)
                {
                     <option disabled selected>-- Department --</option>
                }
                @foreach (var department in Model.Departments)
                {
                    <option value="@department.DepartmentId">@department.DepartmentName</option>
                }
            </select>
            <br />
            <div class="form-group">
                <input type="submit" value="Assign " class="btn btn-success" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
