﻿@model Training_Project.ViewModel.UserDetailViewModel

@{
    ViewData["Title"] = "User Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Model.applicationUser.UserName == User.Identity.Name)
{
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header ">
                    <h4 class="modal-title ">Upload Profile Pic</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form enctype="multipart/form-data" method="post" asp-action="UploadProfilePicture" asp-controller="File">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <dl>
                            <dt>
                                <label for="FileUpload.FormFile" class="label"></label>
                            </dt>
                            <dd>
                                <input id="FormFile" type="file" name="file" accept="image/x-png,image/gif,image/jpeg" required >
                                <span for="FileUpload.FormFile"></span>
                            </dd>
                        </dl>
                        <input  class="btn btn-success" type="submit" value="Upload" required />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-default" data-dismiss="modal" id="modalClose">Close</button>
                </div>
            </div>

        </div>
    </div>
}


<h3>User Detail</h3>

<table class="table table-bordered">
    <tr>
        <td colspan="2" class=text-center>
            @if (Model.applicationUser.ProfilePicturePath == null)
            {
                
                <img src="~/UserImages/default.jpg " style = "height:100px;width:100px" >
            }
            else
            {
                var path = System.IO.Path.GetFileName(Model.applicationUser.ProfilePicturePath);
                var URL = "../UserImages/" + path;
                <img src="@URL" style="height:150px;width:150px;border-radius:50%">
            }
            @if (Model.applicationUser.UserName == User.Identity.Name)
            {
                <button class="align-bottom btn btn-sm border-success" data-toggle="modal" data-target="#myModal"> Upload Profile Pic</button>
            }
        </td>
    </tr>
    <tr>
        <th>Email</th>
        <td>@Model.applicationUser.Email</td>
    </tr>
    <tr>
        <th>UserName</th>
        <td>@Model.applicationUser.UserName</td>
    </tr>
    <tr>
        <th>Department</th>
        <td>
            @if (@Model.applicationUser.Department != null)
            {
                @Model.applicationUser.Department.DepartmentName
                @if (User.IsInRole("Admin"))
                {
                    <a class="btn btn-sm border-secondary"  asp-action="AssignDepartment" asp-controller="User" asp-route-email="@Model.applicationUser.Email" asp-route-department="@Model.applicationUser.Department.DepartmentName">Change Department</a>
                }
            }
            @if (@Model.applicationUser.Department == null)
            {
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="AssignDepartment" asp-controller="User" asp-route-email="@Model.applicationUser.Email">
                        (Assign Department)
                    </a>
                }
            }

        </td>
    </tr>
    <tr>
        <th>Roles</th>
        <td>
            @foreach (var role in Model.userRoles)
            {
                @role <br />
            }
        </td>
    </tr>
    <tr>
        <th>Tasks</th>
        <td>
            <ul>
                @foreach (var task in Model.userTasks)
                {
                    <li>
                        <a>@task.Description </a>
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-action="Details" asp-controller="Task" asp-route-id="@task.TaskId"> ( Task Detail ) </a><br />
                        }
                    </li>
                }
            </ul>
        </td>
    </tr>
    @if (User.IsInRole("Admin") && Model.applicationUser.UserName != User.Identity.Name)
    {
        @if ( Model.applicationUser.isBlock)
        {
            <tr class="text-center">
                <td colspan="2"><a class="btn btn-success text-white" onclick="return confirm('Are you sure You want to Unlock the User ?')" asp-controller="Admin" asp-action="ChangeUserStatus" asp-route-id="@Model.applicationUser.Id" asp-route-status="false"> UNLOCK USER</a></td>
            </tr>
        }
        else
        {
            <tr class="text-center">
                <td colspan="2"><a class="btn btn-danger text-white" onclick="return confirm('Are you sure You want to Lock the User ?')" asp-controller="Admin" asp-action="ChangeUserStatus" asp-route-id="@Model.applicationUser.Id" asp-route-status="true"> LOCK USER</a></td>
            </tr>
        }
    }
</table>
