﻿@model IEnumerable<Training_Project.Services.MessageResponse>

@{
    ViewData["Title"] = "Inbox";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string today = DateTime.Now.ToShortDateString();
    string date;
}

<h3>Chat History</h3>


<div class="Chat_History_Box" >

    @foreach (var item in Model)
    {
        var isMymessage = item.SenderName == User.Identity.Name ? true : false;
        var style="";
        if (isMymessage)
            style = "margin-left:300px; ";
    <div style=@style>
        <small>@item.Time</small>
        @if (item.Date == today)
        {
            <small>Today</small>
        }
        else
        {
            <small>@item.Date</small>
        }
        <br />
        <img style="height:40px;width:40px;display:inline" src="@item.UserPictureURL">
        @Html.DisplayFor(modelItem => item.MessageBody)
        <br />
        <strong>@item.SenderName</strong>
        <hr/>
    </div>
    }
</div>