﻿@model List<Training_Project.ViewModel.UserDetailViewModel>

@{
    ViewData["Title"] = "USERS List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h3>Users List</h3>


    <form class="form-inline " style="margin-bottom:10px" method="get">
         <div class="form-group " style="margin-right:5px">
              <label class="label" for="search" style="margin-right:10px">Search :</label>
              <input placeholder="Search User" required type="text" class="form-control " id="search" name="search">
         </div>
         <div class="form-group">
             <button   type="submit" class="btn btn-info"  >Search</button>
         </div>
    </form>
    <table class="table table-bordered table-hover">
        <thead class="text-center thead-dark">
            <tr>
                <th> Email </th>
                <th> UserName </th>
                <th> Roles </th>
                <th> User Detail</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                @if (user.applicationUser.EmailConfirmed && user.applicationUser.UserName != User.Identity.Name)
                {
                    <tr>
                        <td> @Html.DisplayFor(modelItem => user.applicationUser.Email) </td>
                        <td>  @Html.DisplayFor(modelItem => user.applicationUser.UserName) </td>
                        <td>
                            @foreach (var role in user.userRoles)
                            {
                                <p>@role <br /></p>
                            }
                        </td>
                        <td><a href="/User/Details?email=@user.applicationUser.Email" class=" btn border-secondary ">Detail</a></td>
                        <td>
                            <a href="/User/AsignRole?userName=@user.applicationUser.UserName" class=" btn border-secondary ">Assign Role</a> 
                            @if (user.userRoles.Count != 0)
                            {
                                <a href="/User/RemoveRole?email=@user.applicationUser.Email" class=" btn border-secondary ">Remove Role</a>
                            }
                            <a href="/User/AssignTask?email=@user.applicationUser.Email" class="btn border-secondary ">Assign Task </a>

                        </td>

                    </tr>
                }
            }
        </tbody>
    </table>
    


