﻿@model IEnumerable<Training_Project.Models.Message>

@{
    ViewData["Title"] = "Notifications";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool isFirst = true;
    string currentDate;
    string PreviousDate = null;
    string today = DateTime.Now.ToShortDateString();
}

<h1>Notifications</h1><hr/>

@if (Model.Count() == 0)
{ 
    <strong class="text-center">You have no Notification.</strong>
}
else{
@foreach (var message in Model)
{
    currentDate = message.SendingTime.ToShortDateString();
    if (isFirst)
    {
        isFirst = false;
        if (currentDate == today)
        {
            <h3>Today </h3>
        }
        else
        {
            <h3>@currentDate </h3>
        }
        <hr />
        <div>
            <small>@message.SendingTime.ToShortTimeString()</small><br>
            <p>@message.MessageBody</p>
        </div>
        PreviousDate = currentDate;
    }
    else
    {
        if (PreviousDate != currentDate)
        {
            if (currentDate == today)
            {
                <h3>Today </h3>
            }
            else
            {
                <h3>@currentDate </h3>
            }
            <hr />
        }
        <div>
            <small>@message.SendingTime.ToShortTimeString()</small><br>
            <p>@message.MessageBody</p>
        </div>
        PreviousDate = currentDate;
    }

}

}

