﻿@model Training_Project.ViewModel.RoleRemoveViewModel

@{
    ViewData["Title"] = "Remove User Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Remove Role from @Model.UserName</h3>
<hr />
<br />
@if (Model.Roles.Count == 0)
{
    <strong>User has no role.</strong>
    <br />
    <a href="/User/AsignRole?userName=@Model.UserName">Click here to Assign Role</a>
}
else
{
<form method="post" asp-action="RemoveRole">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Email">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <strong>
                    <label asp-for="Role" class="control-label label">ROLES</label>
                </strong>
                <select asp-for="Role" class="form-control">
                    <option value="" disabled selected>-- ROLES --</option>
                    @foreach (var role in Model.Roles)
                    {
                        <option value="@role">@role</option>
                    }
                </select>
            </div>
        </div>
    </div>

    <button class="btn btn-danger" type="submit" onclick="return confirm('Are you sure you want to Remove this Role from @Model.UserName?')">Remove</button>
</form>
<div>
    <a asp-action="Index" asp-controller="Home">Back to List</a>
</div>
}