﻿@model List<Training_Project.ViewModel.TaskStatus>

@{
    ViewData["Title"] = "TASKS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <h3 style="margin-top:20px"> User Tasks</h3>
    <form class="form-inline " style="margin-bottom:10px" asp-action="Tasks" asp-controller="User">
        <div class="form-group " style="margin-right:5px">
            <label class="label" for="search" style="margin-right:10px">Search :</label>
            <input placeholder="Search Task" required type="text" class="form-control " id="search" name="search">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info">Search</button>
        </div>
    </form>

<table class="table table-bordered table-hover">
    <thead class="thead-dark text-center">
        <tr>
            <th>Type</th>
            <th>Description</th>
            <th>Status</th>
            <th>Task Detail</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model)
        {
            <tr>
                <td>@task.task.Type</td>
                <td>@task.task.Description</td>
                @if (task.taskStatus == "COMPLETED")
                {
                    <td>COMPLETED</td>
                }
                else
                {
                    <td>
                        In Progress
                        <a asp-action="ChangeTaskStatus"  asp-route-taskId="@task.task.TaskId">(Mark as Complete)</a>
                    </td>
                }
                <td class="text-center"><a asp-action="Details" asp-controller="Task" asp-route-id="@task.task.TaskId" class="btn border-secondary">Detail</a></td>
            </tr>
        }

    </tbody>
</table>