﻿@model Training_Project.Models.Department

@{
    ViewData["Title"] = "Create Deparment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Create Deparment</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" class="createForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="text-center"><h4 class="formHeading">Department Details</h4></div><hr />

            <div class="form-group">
                <label asp-for="DepartmentName" class="control-label label"><strong>Department Name</strong></label>
                <input asp-for="DepartmentName" class="form-control" required />
                <span asp-validation-for="DepartmentName" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Create " class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
