﻿@model Training_Project.Models.Department

@{
    ViewData["Title"] = "Department Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Department Detail</h3>

<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <td>@Model.DepartmentName</td>
    </tr>

    <tr>
        <th>Members</th>
        <td>
            @foreach (var user in Model.Users)
            {
                @user.UserName <a asp-action="Details" asp-controller="User" asp-route-email="@user.Email"> ( User Detail ) </a>
                <br />
            }
        </td>
    </tr>

</table>