﻿@model IEnumerable<Training_Project.Models.Department>

@{
    ViewData["Title"] = "Department";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Department List</h3>
<form class="form-inline " style="margin-bottom:10px" method="get">
    <div class="form-group " style="margin-right:5px">
        <label class="label" for="search" style="margin-right:10px">Search :</label>
        <input required type="text" class="form-control " id="search"  placeholder="Department Name" name="search">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info" >Search</button>
    </div>
</form>

<table class="table table-bordered table-hover">
    <thead class="text-center thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="text-center table-sm">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td>
                <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.DepartmentId">Detail</a>
                <form asp-action="Delete" asp-controller="Department" method="post" class="deleteForm">
                    <input type="hidden" name="id" value="@item.DepartmentId">
                    <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this Department?')">Delete</button>
                </form>
                <a class="btn btn-warning" asp-action="Edit" asp-controller="Department" asp-route-id="@item.DepartmentId">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
