﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject RoleManager<IdentityRole> RoleManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/custom.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar  navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <partial name="_MessagePartial" />
                    @if (User.Identity.IsAuthenticated)
                    {
                <div id="Notification-Container">
                    <ul class=" nav navbar-nav">
                        <li class="nav-item my-nav-item">
                            <a class="nav-link text-dark" asp-action="MyProfile" asp-controller="User">
                                <i class="fa fa-user-o" aria-hidden="true"></i>
                            </a>
                        </li>

                        <li class="nav-item my-nav-item">
                            <a class="nav-link text-dark" href="#" onclick="toggle_visibility('Inbox-Box','@User.Identity.Name') ">
                                <i class="fa fa-envelope-open-o  " aria-hidden="true"></i>
                                <span class="badge badge-notify" id="InboxCount">0</span>
                            </a>
                        </li>
                        <li class="nav-item my-nav-item">
                            <a class="nav-link text-dark" href="#"  onclick="toggle_visibility('Notification-Box','@User.Identity.Name')">
                                <i class="fa fa-bell-o" aria-hidden="true"></i>
                                <span class="badge badge-notify" id="NotificationCount">0</span>
                            </a>
                        </li>
                    </ul>
                     <div id="Inbox-Box" >
                         <a asp-controller="User" asp-action="Inbox" class="text-center" style="color:black"><h4>INBOX</h4></a>
                         <hr />
                         <div id="Inbox_Content">
                             <div id="inboxSpinner" class="spinner-border loadingSpinner " role="status" style="display:none;margin-left:120px;margin-top:150px">
                                 <span class="sr-only">Loading...</span>
                             </div>
                         </div>
                     </div>
                    <div id="Notification-Box" >
                         <a asp-controller="User" asp-action="Notifications" class="text-center" style="color:black"><h4>NOTIFICATION</h4></a>
                         <hr />
                         <div id="Notification_Content">
                             <div id="notificationSpinner"  class="spinner-border loadingSpinner " role="status"  style="display:none;margin-left:120px;margin-top:150px" >
                                 <span class="sr-only">Loading...</span>
                             </div> 
                         </div>
                     </div>
                </div>
                    }
                    <ul class=" nav navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li class=" nav-item dropdown  my-nav-item">
                                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <span class="nav-label">User</span> <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="List">User List</a></li>
                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AddUser">Add new User</a></li>
                                </ul>
                            </li>

                            <li class=" nav-item dropdown my-nav-item">
                                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <span class="nav-label">Role</span> <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Role" asp-action="List">Role List</a></li>
                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Role" asp-action="Create">Add new Role</a></li>
                                </ul>
                            </li>

                            <li class=" nav-item dropdown my-nav-item">
                                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <span class="nav-label">Task</span> <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li> <a class="nav-link text-dark" asp-area="" asp-controller="Task" asp-action="List">Task List</a></li>
                                    <li> <a class="nav-link text-dark" asp-area="" asp-controller="Task" asp-action="Create">Add new Task</a></li>
                                </ul>
                            </li>

                            <li class=" nav-item dropdown my-nav-item">
                                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <span class="nav-label">Department</span> <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Department" asp-action="List">Department List</a></li>
                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Department" asp-action="Create">Add new Department</a></li>
                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="BestEmployee">Employee of the Month</a></li>
                                </ul>
                            </li>
                        }
                        @if (User.Identity.IsAuthenticated && !User.IsInRole("Admin"))
                        {
                            <li class="my-nav-item nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="MyDepartment">MyDepartment</a>
                            </li>

                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class=" nav-item dropdown my-nav-item">
                                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <span class="nav-label">My Files</span> <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link text-dark" asp-controller="File" asp-action="UploadFile"> Add a Pdf File</a></li>
                                    <li><a class="nav-link text-dark" asp-controller="File" asp-action="List"> View your Files</a></li>
                                </ul>
                            </li>
                            <li class="nav-item my-nav-item">
                                <a href="#" class="nav-link text-dark" data-toggle="modal" data-target="#MsgModal">Send Message</a>
                            </li>

                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - MY_APP -
        </div>
    </footer>
    @if (User.Identity.IsAuthenticated)
    {
        <script src="~/js/signalr/dist/browser/signalr.js"></script>
        <script src="~/js/modal.js"></script>
        <script src="~/js/message.js"></script>
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
