﻿@using Microsoft.AspNetCore.Identity
@inject RoleManager<IdentityRole> RoleManager
@inject UserManager<ApplicationUser> UserManager


<div class="modal fade" id="MsgModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header ">
                <h4 class="modal-title ">Message Bar</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="messageForm">
                    <div class="form-group">
                        <label class="control-label col-sm-2 font-weight-bold" for="MessageOption">Recipient</label>
                        <select id="MessageOption" class="form-control" required>
                            <option selected disabled value="">--Select--</option>
                            <option value="Role"> Role Based</option>
                            <option value="User"> User Based</option>
                        </select>
                    </div>
                    <div id="messageBox" style="display:none">
                        <div class="form-group" id="RoleSelect" style="display:none">
                            <label class="control-label col-sm-2 font-weight-bold" for="Role">ROLE</label>
                            <select id="Role" class="form-control" required>
                                <option value="" disabled selected>--ROLE--</option>
                                @foreach (var role in RoleManager.Roles.ToList())
                                {
                                    <option value="@role.Name">@role.Name</option>
                                }
                                <option value="General">General</option>
                            </select>
                        </div>
                        <div class="form-group" id="UserSelect" style="display:none">
                            <label class="control-label col-sm-2 font-weight-bold" for="User">USERS</label>
                            <select id="User" class="form-control" required>
                                <option value="" disabled selected>--USER--</option>
                                @foreach (var item in UserManager.Users.Where(m => m.EmailConfirmed == true).ToList())
                                {
                                    <option value="@item.Id">@item.UserName</option>
                                }
                            </select>
                        </div>
                        <div class="form-group " id="Message" style="display:none">
                            <label class="control-label col-sm-2 font-weight-bold" for="pwd">Message:</label>
                            <div class="col-sm-10">
                                <textarea class="form-control text-left" placeholder="Message" id="messageInput"></textarea>
                            </div>
                        </div>
                        <div class="form-group" id="RoleMessageSend" style="display:none">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success" onclick="sendMessageToGroup(event)">Send</button>
                            </div>
                        </div>
                        <div class="form-group" id="UserMessageSend" style="display:none">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success" onclick="sendMessageToUser(event)">Send</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-default" data-dismiss="modal" id="modalClose">Close</button>
            </div>
        </div>

    </div>
</div>