﻿@model Training_Project.ViewModel.UserInputViewModel

@{
    ViewData["Title"] = "Create User";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}
   

<h3>Create New User</h3>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddUser" class="createForm">
            <div class="text-center"><h4 class="formHeading">User Details</h4></div><hr/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label  asp-for="Email" class="control-label label" ><strong>Email</strong></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label label"><strong>User Name</strong></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label label"><strong>Role</strong></label>
                <select asp-for="Role" class="form-control">
                    <option disabled selected > -- ROLE -- </option>
                    @foreach (var role in Model.Roles)
                    {
                        <option value="@role.Id">@role.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Department" class="control-label label"><strong>Department</strong></label>
                <select asp-for="Department" class="form-control">
                    <option disabled selected > -- DEPARTMENT -- </option>
                    @foreach (var department in Model.Departments)
                    {
                        <option value="@department.DepartmentId">@department.DepartmentName</option>
                    }
                </select>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Create User" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
