﻿@model Training_Project.ViewModel.DepartmentUsers

@{
    ViewData["Title"] = "Best Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="BestEmployee">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (Model.DepartmentId == null)
            {
                <h4><label class="label" for="DepartmentId"> Choose Department</label></h4>
                <select asp-for="DepartmentId" class="form-control">
                    <option selected disabled value="">-- Department --</option>
                    @foreach (var department in Model.Departments)
                    {
                        <option value="@department.DepartmentId">@department.DepartmentName</option>
                    }
                </select>
                <div class="form-group" style="margin-top:10px">
                    <input type="submit" value="Select " class="btn btn-primary" />
                </div>
            }
            else
            {
                <input type="hidden" asp-for="DepartmentId" value="@Model.DepartmentId">
                <h3> Select best Employee of @Model.DepartmentId Department</h3>
                <label class="label" for="UserId">  Employee List</label>
                <select asp-for="UserId" class="form-control" id="userChoosen">
                    <option selected disabled value="">-- Employee --</option>
                    @foreach (var user in Model.Users)
                    {
                        <option value="@user.Id">@user.UserName</option>
                    }
                </select>
                <div class="form-group" style="margin-top:10px">
                    <input type="submit" id="bestEmpButton" value="Select " class="btn btn-primary" />
                </div>
            }

        </form>
    </div>
</div>