﻿.label:before {
    content: "*";
    color: red
}


.my-nav-item{
    margin-left:20px
}
#ProfilePic{
    height:100px;
    width:100px
}

.badge-notify {
    background: red;
    color:white;
    border-radius:50%;
    position: relative;
    top: -12px;
    display:none
}

#Notification-Container {
    position: relative;
    
}
#Inbox-Box {
    padding: 20px 20px 20px 20px;
    position: absolute;
    top: 100%;
    left: 35%;
    width: 350px;
    background-color: white;
    height: 500px;
    border: 0.1px solid black;
    border-radius: 20px;
    overflow: auto;
    border-top-left-radius: 0px;
    display: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#Notification-Box {
    padding: 20px 20px 20px 20px;
    position: absolute;
    top: 100%;
    left: 65%;
    width: 350px;
    background-color: white;
    height: 500px;
    border: 0.1px solid black;
    border-radius: 20px;
    overflow: auto;
    border-top-left-radius: 0px;
    display: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#inbox_Img{
    height:50px;
    width:50px;
    border-radius:50%
}

.createForm {
    border: 1px solid black;
    padding: 20px 15px 20px 15px;
    border-radius: 5%;
    width: 150%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.formHeading {
    text-shadow: 1px 1px 2px black;
}

.deleteForm{
    display:inline;
    margin-left:15px;
    margin-right:15px
}
.inboxClick{
    color:black
}

.Chat_History_Box {
    padding: 20px 15px 20px 15px;
    border-radius: 5%;
    height: 500px;
    width: 500px;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}