﻿@model Microsoft.AspNetCore.Identity.IdentityRole

@{
    ViewData["Title"] = "Create Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Create  Role</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" class="createForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="text-center"><h4 class="formHeading">Role Details</h4></div><hr />
            <div class="form-group">
                <label asp-for="Name" class="control-label label"><strong>Role Name</strong></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Create Role" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<hr />


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
