﻿@model Training_Project.ViewModel.RoleUsersViewModel

@{
    ViewData["Title"] = "Role Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Role Detail</h2>

<table class="table table-bordered">
    <tr>
        <th>Role Name</th>
        <td>@Model.Role.Name</td>
    </tr>
    <tr>
        <th>Assigned to</th>
        <td>
            @foreach (var user in Model.Users)
            {
                @user.UserName
                <a asp-action="Details" asp-controller="User"  asp-route-email="@user.Email"> ( User Detail ) </a> <br />
            }
        </td>
    </tr>

</table>