﻿@model List<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Roles List</h3>

<form class="form-inline "  style="margin-bottom:10px" method="get">
    <div class="form-group " style="margin-right:5px">
        <label class="label" for="search" style="margin-right:10px">Search :</label>
        <input required type="text" class="form-control" placeholder="Role Name" id="search" name="search">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info">Search</button>
    </div>
</form>
<table class="table table-bordered table-hover ">
    <thead class="text-center thead-dark">
        <tr>
            <th> Role Name </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="text-center table-sm">
        @foreach (var role in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => role.Name)
                </td>
                <td>
                     <a asp-action="Details" asp-route-id="@role.Id" class="btn btn-secondary">Detail</a>
                     <form asp-action="Delete" method="post" class="deleteForm">
                           <input type="hidden" name="Id" value=@role.Id>
                           <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this Role?')">Delete</button>
                     </form>
                </td>
            </tr>
        }
    </tbody>
</table>
