﻿@model IEnumerable<Training_Project.Models.FileUser>
@{
    ViewData["Title"] = "Files";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>My Files</h3>

<form class="form-inline " style="margin-bottom:10px">
    <div class="form-group " style="margin-right:5px">
        <label class="label" for="search" style="margin-right:10px">Search :</label>
        <input placeholder="File Name" required type="text" class="form-control " id="search" name="search">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info">Search</button>
    </div>
</form>
<table class="table table-bordered table-hover" >
    <thead class="text-center thead-dark" >
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FileName)
            </th>
            <th>
               
            </th>
        </tr>
    </thead>
    <tbody class="text-center">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
            <td>
                @{ 
                    var path = System.IO.Path.GetFileName(item.FilePath);
                    var URL = "../UserFiles/" + @item.UserId + "/" + path;
                }
                <a class="btn border-secondary " target="_blank" href="@URL">Click here to View</a>
            </td>
        </tr>
}
    </tbody>
</table>
