﻿
@{
    ViewData["Title"] = "UploadFile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Upload File</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" method="post" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <dl>
                <dt>
                    <label for="FileUpload.FormFile"></label>
                </dt>
                <dd>
                    <input id="FormFile" type="file" name="file" accept="application/pdf">
                    <span for="FileUpload.FormFile"></span>
                </dd>
            </dl>
            <input asp-action="UploadFile" class="btn btn-success" type="submit" value="Upload" required />
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
